{% extends 'notes_app/base.html' %}

{% block content %}
<a class="btn btn-primary" href="{% url 'notes_app:new_note' %}">Новая заметка</a>
      <div>
        <ul>
        {% for note in notes %}
        <li>
          <h5><a class="nav-link" href="{% url 'notes_app:note' note.id %}">
            {{ note.title.upper|linebreaks }}
          </a></h5>
        </li>
        {% empty %}
        <li>Заметки отсутствуют</li>
        {% endfor %}
        </ul>
      </div>

{% endblock content %}